body{
    margin: 0;
    padding: 0;
}

/* header part */
.container-fluid{
    width: 100%;
    /* padding: 1rem; */
    background-color: rgb(33, 44, 80);
    color: white;


    
}

.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
/* media queries */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;


  }
}
/* media queries */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
     padding: 0 10px;
 
}

nav ul{
    display: flex;
    list-style: none;
    /* margin: 0;
    padding: 0;*/
}



nav ul li a{
    display: inline-block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(161, 107, 5);
}

.Login-links a{
text-decoration: none;
color: white;
background-color: rgb(11, 136, 219);
padding: 0.5rem;
border-radius: 6px;
transition: 0.5s;

}

.Login-links a:hover{
    background-color:rgb(161, 107, 5) ;
}



  /* main   */
  .slider-wrapper{
    width: 100%;
    position: relative;
    background-image:url("Airp.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;



}   


/* /////// */
/* Hero section */

.hero{
    width: 100%;
    height: 60vh;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     /* background-image: url(./Airp.jpg);  */
    color: rgb(0, 0, 0);
    font-size: large;
 

}
.slider-wrapper{

         display: flex;
        justify-content: center; 

}

.slider-footer a{
text-decoration: none;
color: white;
background-color: rgb(11, 136, 219);
padding: 0.5rem;
border-radius: 6px;
transition: 0.5s;

}




.body2-image{
    border: 3px solid black;

}




/* feature section */
.feature{
    
    background-color: #f8f9fa;
    /* border: 3px solid black; */
    padding: 2rem;
    text-align: center;
}

.feature h2{
    font-size: 2rem;
    margin-bottom: 2rem;

}

 .feature-grid{
    width: 100%;
    display: grid; 
    /* grid-template-columns:repeat(3, 1fr) ; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 1rem;  
    align-items: center;


} 

.feature-grid i{
    color: rgb(11, 136, 219);
}

.feature-card{
    flex:1 1 250px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.1);
    transition: 0.3s ease;
   

}

.feature-card:hover{
    transform: translateY(-8px);
}

/* media queries*/
@media (max-width: 768px) {
  .feature,
  .demo {
    padding: 1.5rem;
  }
}
/* media queries */

/* Demo Section */


.demo{
    padding: 12rem;
    text-align: center;
    color: black;

}


.container {
    width: 90%;
    margin: auto;
  
}

 .demo .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
      
 }
 
.demo-images{
    flex: 1 1 280px;
    max-width: 300px;
     background-color: rgb(33, 44, 80);
     background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease;

}

.demo-images img{
    width:100%;
     height: 180px;
    max-width: 300px;
    border-radius: 10px;
    object-fit: cover;
}



/* Demo Section */



/* FAQ section */

      .faq{
        background-color: #f8f9fa;
        padding: 2rem 1rem;

      }
      .faq h2{
        text-align: center;
        margin-bottom: 2rem;

      }

      .faq-item{
        max-width: 800px;
        margin: 1rem auto;
        padding: 1rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      }

/* FAQ section */


/* Footer section  */
.footer{
    text-align: center;
             background-color: rgb(26, 50, 61);
             padding: 0px 25px;
}

 .foot-testimounial{

        /* border: 2px solid blueviolet; */
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1px;
          /* border: 2px solid blue; */
      }
        


.footer-container{
    background-color: rgb(26, 50, 61);
    display:flex;
    justify-content: center;
    color: white;
}

.social-links{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.social-links a i{
    color: rgb(11, 136, 219);
    margin: 3px;

}
.foot-contact{
    color: white;
}
.footer-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.footer-contents div{
    flex: 1 1 270px;
    max-width: 320px;
}









